.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
li {
  list-style: none;
}

ul {
  background-color:white
}
.green {background-color:green;
color:white;

}


.red {background-color:red;
color:black;

}

.orange {
  background-color : orange;
  
  
} 

.yellow {
  background-color :yellow;
 
}

.purple {
  background-color : purple;

 
  color:white
}
.gonna-die {
  background-color :brown;
  color:white
  
  
}

.button-margin {
  margin:5px;
  max-width:130px
}

.round{
  border-radius: 50%
}

.home{
  border-width:5px;
  border-color:black
}
span {
  background-color:white
}
.popup {
  display: flex;
  justify-content:center;
}
.table-popup {
  
  margin-right: 20%;
  margin-left:20%
 
}
.map-container {
  display:flex;
  justify-content: right;
  flex-direction: row;
  align-items:right
  
  
  
}

.code-buttons {
  padding:15px;
  display:flex;
  
  
  flex-direction: column
}

.health-warnings {
  display:flex;
  
  flex-direction: column;
  
  
  
}
.mob-health-warnings {
  display:flex;
 
  flex-direction: column;
  
  
  
}


.warning-box {
  display:flex;
  justify-content:center;
  flex-direction: column;
  margin-left:auto;
  max-width: auto;
  text-align: center


}
.mob-warning-box {
  margin-top:5px;
  display:flex;
  justify-content:center;
  flex-direction: column;
  margin-left:auto;
  max-width: auto;
  text-align: center


}
.log-reg {text-align: center}

.container {
  background-image:url('./utils/images/diamond.jpg')
}

.mapboxMarker {
  background-image: url('./utils/images/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.small-map {
  max-width: 400px;
}

.row {
  padding-left: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
}
.row p {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid black;
  align-items: flex-start;
  justify-content: flex-start;
}
#image-data {
  padding:0;

}

.footer {  position: relative;  bottom: 0;  width: 100%;  height: 2.5rem;
  text-align: center;
 }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
